.filmList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    justify-items: center;
    column-gap: 30px;
    row-gap: 40px;
    margin: 0 auto;
}
.filmList__sort{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}
.column__filmList{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}